.grid {
  display: grid;
}
.enchanment-equiv-text{
  grid-column: 1;
  grid-row: 1;
  width: 50%;
}
.enchantment-equiv{
  grid-column: 2;
  grid-row: 1;
  width: 50%;
}
.category-text{
  grid-column: 1;
  grid-row: 2;
  width: 50%;
}
.category{
  grid-column: 2;
  grid-row: 2;
  width: 50%;
}
.Item-text{
  grid-column: 1;
  grid-row: 3;
  width: 50%;
}
.Items{
  grid-column: 2;
  grid-row: 3;
  width: 50%;
}