.grid {
  display: grid;
  columns: 2;
}

.enchanment-equiv-text {
  grid-column: 1;
  grid-row: 1;
}

.enchantment-equiv {
  grid-column: 2;
  grid-row: 1;
}

.category-text {
  grid-column: 1;
  grid-row: 2;
}

.category {
  grid-column: 2;
  grid-row: 2;
}

.Item-text {
  grid-column: 1;
  grid-row: 3;
}

.Items {
  grid-column: 2;
  grid-row: 3;
}

.subItem {
  grid-column: 1;
}

.subBox {
  grid-column: 2;
}

.subFocus {
  grid-column: 3;
}

.subWide {
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  columns: 2;
}