.body {
  background-color: darkgrey;
}

.grid {
  display: grid;
  columns: 2;
}

.text {
  grid-column: 1;
}

.select {
  grid-column: 2;
  background-color: lightgrey;
}

.button {
  border-color: darkgrey;
  background-color: slategrey;
}

.subItem {
  grid-column: 1;
}

.subBox {
  grid-column: 2;
  border-color: darkgrey;
  background-color: lightgrey;
}

.textSubBox {
  grid-column: 2;
  border-color: lightslategrey;
}

.subFocus {
  grid-column: 3;
}

.subWide {
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  columns: 2;
}